<ion-view hide-back-button="true" cache-view="true">
  <ion-content class="content-stable backgroundImage" padding="true">
    <div class="logo">
       <img src="">
    </div>
    <div class="spacer">
      
    </div>
    <div class="login">
      <form >
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-iphone"></i>
            <input type="text" name="mobile" placeholder="Mobile Number">
          </label>
          <label class="item item-input"> 
            <i class="icon ion-ios-locked-outline"></i>
            <input type="password" name="password" placeholder="password">
          </label>
        </div>
      </form>
    </div>
    <div class="">
      <button class="button button-full button-medium button-balanced" ng-click="login()">Login</button>
   
      <button class="button button-full button-positive button-medium" ng-click="signup()">New Registration</button>
    </div>
  </ion-content>
</ion-view>
