<ion-view hide-back-button="true" cache-view="false">
	<ion-nav-title align-title="center" class="white">
    Registration Form
  </ion-nav-title>
  <ion-content>
  	<div class="row">
  	<h5 class="col col-40">Name<span class="red">*</span></h5>
  	<h5 class="col col-50">
  		<input type="text" name="name" ng-model="name" required="required" validate>
  	</h5>  		
  	</div>
  	<div class="row"> 
  		<h5 class="col col-40">Email<span class="red">*</span></h5>
  		<h5 class="col col-50">
  			<input type="Email" name="email" ng-modeil="" required="required" validate>
  		</h5>
  	</div>
  	<div class="row"> 
  		<h5 class="col col-40">Mobile No<span class="red">*</span></h5>
  		<h5 class="col col-50">
  			<input type="text" name="mobile">
  		</h5>
  	</div>
  	<div class="row">
  		<h5 class="col col-30">Gender<span class="red">*</span></h5>
  		<h5 class=" col col-30">
  			<input type="radio" name="">male
  		</h5>
  		<h5 class="col col-30">
  			<input type="radio" name="">Female
  		</h5>
  	</div>
  	<div class="row">
  		<h5 class="col col-40">Education<span class="red">*</span></h5>
  		<h5 class="col col-50">
  		<select class="SelectEducation" >
  			<option value="" >Select</option>
  			<option>PostGraduate</option>
  			<option>Graduate</option>
  			<option>10+2</option>
  			<option>Matriculation</option>
  		</select>
  		</h5>
  	</div>

  </ion-content>

</ion-view>